body {
  margin: 0;
  padding: 0;
  padding-top: 150px;
}

.container {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.calculator {
  background-color: pink;
  padding: 10px 100px;
}

.calculator-inner__answer {
  width: 100%;
  background-color: white;
}

.answer-inner {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.answer-inner__text {
  font-size: 30px;
}

.final-solution {
  margin-bottom: 5px;
}

.calculator-inner__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.calculator-list__items {
  width: 25%;
}

.calculator-list__button {
  width: 100%;
  padding: 18px;
  border: none;
  background: #000;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.calculator-list__button:hover {
  background-color: #fff;
  color: black;
}
